<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Online Shopper Intention Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	
      <label for="Administrative" colo>Number of visits in Administrative pages:  </label>
      <input type="text" name="Administrative" placeholder="Administrative" required="required" />
      <br>
        
      <label for="Administrative_Duration" colo>Duration of visit in Administrative pages:  </label>
      <input type="text" name="Administrative_Duration" placeholder="Administrative Duration" required="required" />
      <br>

      <label for="Informational" colo>Number of visits in Informational pages:  </label>
      <input type="text" name="Number of visits in Informational pages" placeholder="Informational" required="required" />
      <br>

      <label for="Informational_Duration" colo>Duration of visit in Informational pages:  </label>
      <input type="text" name="Informational_Duration" placeholder="Informational Duration" required="required" />
      <br>

      <label for="Informational_Duration" colo>Duration of visit in Informational pages:  </label>
      <input type="text" name="Informational_Duration" placeholder="Informational Duration" required="required" />
      <br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
